<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Wumpus.Model.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Wumpus.Model.Properties.Settings>
            <setting name="ArrowNumbers" serializeAs="Xml">
                <value>
                    <ArrayOfInt xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <int>5</int>
                        <int>3</int>
                        <int>1</int>
                    </ArrayOfInt>
                </value>
            </setting>
            <setting name="LevelNames" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Easy</string>
                        <string>Medium</string>
                        <string>Hard</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="TrapNumberMins" serializeAs="Xml">
                <value>
                    <ArrayOfInt xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <int>3</int>
                        <int>6</int>
                        <int>12</int>
                    </ArrayOfInt>
                </value>
            </setting>
            <setting name="TrapNumberMax" serializeAs="Xml">
                <value>
                    <ArrayOfInt xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <int>3</int>
                        <int>10</int>
                        <int>20</int>
                    </ArrayOfInt>
                </value>
            </setting>
            <setting name="Sizes" serializeAs="Xml">
                <value>
                    <ArrayOfInt xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <int>4</int>
                        <int>6</int>
                        <int>8</int>
                    </ArrayOfInt>
                </value>
            </setting>
            <setting name="TrapNumberTypes" serializeAs="Xml">
                <value>
                    <ArrayOfInt xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <int>1</int>
                        <int>1</int>
                        <int>1</int>
                    </ArrayOfInt>
                </value>
            </setting>
        </Wumpus.Model.Properties.Settings>
    </userSettings>
</configuration>